.Rproj.user
.Rhistory
.RData
.Ruserdata
data/raw/fastq/*fastq.gz
data/raw/sra/*
data/raw/ctab/*
data/raw/fastq_ctable.txt
data/raw/info_counts.txt
data/raw/sperenza_counts/*
data/processed/fastq/*
data/processed/cellranger/*
data/raw/GSE156755*
